/* 메인 콘텐트 */
#main_content { position: relative; width: 1000px; height: 240px; margin: 0 auto; }
#latest { position: absolute; top: 30px; left: -14px; }
#latest h4 { text-align:center; font-family: sans-serif;  width: 554px; font-size: 16px; padding-bottom: 5px; border-bottom: solid 2px #e3d2b39e; }
#latest ul { margin-top: 20px; }
#latest li { margin-top: 8px; margin-left: 10px; }
#latest span { display: inline-block; }
#latest span:nth-child(1) { width: 280px; }
#latest span:nth-child(2) { width: 100px; }
#latest span:nth-child(3) { width: 100px; }
#point_rank { position: absolute; top: 30px; left: 610px; }
#point_rank h4 { text-align:center; width: 350px; font-size: 16px; padding-bottom: 5px; border-bottom: solid 2px #e3d2b39e; }
#point_rank ul { margin-top: 20px; }
#point_rank li { margin-top: 8px; margin-left: 15px; }
#point_rank span { display: inline-block; }
#point_rank span:nth-child(1) { width: 50px; }
#point_rank span:nth-child(2) { width: 100px; }
#point_rank span:nth-child(3) { width: 100px; }
#point_rank span:nth-child(4) { width: 100px; }